*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;;
}

/* nav bar section */
.navbar{
  background-color:#d9ff66;
 display: flex;
 align-items: start;
 height: 50px;
 position: relative;
}

#op{
    background-color: none;
    margin-left: 3%;
    margin-top: 10px;
}
body{
    background-color:#ecffb3;
}

.icon{
    background:none;
    /* height: 70px;
    width: 250px; */
    position: absolute;
    margin-top: -45px;
    margin-left: 1000px;
    padding: 0px;
    text-align: center;
}

.icon img{

    height: 40px;
    width: 40px;
   
}

.icon h1{
    float:left;
}

.slides {
 background-color: transparent;
 height: 500px;
}

.slides img{
    margin: 1px;
    height: 500px;
    width: 100%;
    
    
}

.promo{
    background-color: #86b300;
    height: 650px;
    margin: 10px;
    border-radius: 20px;
}
.promo img{
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    border:none;
    object-fit: cover;
    overflow: hidden;
    transition: all ease 1s;
    
}
#i2{
  float: right;
}

#i1:hover img{
    scale: 1.1;
}

#i2:hover img{
    scale: 1.1;
}

.topi{
    background-color:#608000;
    height: 600px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;


}
.topi img{

    height: 300px;
    margin: 40px;
    padding: 10px;
    margin-top: 100px;
    border: 20px solid black;
   }

   .end{
    background-color:#131a00;
     height: 500px;
   }